<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body >
  
  <h1 class="col-xl-3 col-lg-6 col-md-6 col-sm-12" id="title">Kyle Lahr</h1>
  <ul class="nav justify-content-end col-xl-9 col-lg-6 col-md-6 col-sm-12">
      <li class="nav-item">
      <a class="nav-link" href="index.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="portfolio.html">Portfolio</a>
      </li>
      </ul>
      <hr>
        <!-- <div class="p-3 mb-2 bg-secondary text-white"> -->
          <div class="container">
            <div class="p-3 mb-2 bg-white text-dark">
              <section class="border">
                <h2>Book Finder App</h2> 
                <hr>
                <div class="p-3">
                  <h4 class="text-dark">Description</h4>
                  <p>A web application that utilizes the Google Books API to recommend books to users based on user
                    side input criteria. Working as a member of a four person team, I was responsible for coding
                    front-end Javascript, including dynamic text and image population and click events, as well as
                    polishing up CSS using the Bulma CSS framework
                    </p>
              </div>
                <div class="p-3">
                    <h4 class="text-dark">Book Finder Github Repository</h4>
                    <ul>
                        <li>
                            <a class="project-link" href="https://github.com/waterylime/Book-Finder" target="_blank">Book Finder App</a>
                        </li>
                    </ul> 
                </div>
                <div class="p-3">
                    <h4 class="text-dark">Deployed Github Pages Book Finder App Link</h4>
                    <ul>
                        <li>
                            <a class="project-link" href="https://waterylime.github.io/Book-Finder/" target="_blank">Book Finder App</a>
                        </li>
                    </ul>
                </div>
                <div class="p-3">
                        <h4 class="text-dark">Demo Gif</h4>
                        <img class="demoImg" id="book-finder-gif" src="../assets/images/book-finder-demo.gif" alt="demo gif">
                    </div>
                </section>
            </div>
          </div>
      </div>
      
    </body>
</html>