<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body >
  
  <h1 class="col-xl-3 col-lg-6 col-md-6 col-sm-12" id="title">Kyle Lahr</h1>
  <ul class="nav justify-content-end col-xl-9 col-lg-6 col-md-6 col-sm-12">
      <li class="nav-item">
      <a class="nav-link" href="index.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="portfolio.html">Portfolio</a>
      </li>
      </ul>
      <hr>
        <!-- <div class="p-3 mb-2 bg-secondary text-white"> -->
          <div class="container">
            <div class="p-3 mb-2 bg-white text-dark">
              <section class="border">
                <h2>Whiskey Journal</h2> 
                <hr>
                <div class="p-3">
                  <h4 class="text-dark">Description</h4>
                  <p>A CRUD application that allows users to keep track of whiskeys they’ve tasted, assigning names,
                    whiskey categories, tasting notes, and ratings via an express-handlebars based user interface that
                    passes information into the back-end to be stored in a MySQL database with a PUT request. Users
                    can then view their stored whiskey data with a GET request that dynamically populates in a
                    responsive, mobile friendly format. As part of a three person team, I was responsible for designing a
                    responsive front end, utilizing Express-Handlebars as a templating engine to pass user input
                    between the front and back-end.</p>
              </div>
                <div class="p-3">
                    <h4 class="text-dark">Whiskey Journal Github Repository</h4>
                    <ul>
                        <li>
                            <a class="project-link" href="https://github.com/eric-gustafson1/whiskey-journal" target="_blank">Whiskey Journal</a>
                        </li>
                    </ul> 
                </div>
                <div class="p-3">
                    <h4 class="text-dark">Deployed Heroku Link</h4>
                    <ul>
                        <li>
                            <a class="project-link" href="https://whiskey-journal.herokuapp.com/" target="_blank">Heroku Whiskey Journal</a>
                        </li>
                    </ul>
                </div>
                <div class="p-3">
                        <h4 class="text-dark">Demo Gif</h4>
                        <img class="demoImg" id="whiskey-journal-gif" src="../assets/images/whiskey-journal.gif" alt="demo gif">
                    </div>
                </section>
            </div>
          </div>
      </div>
      
    </body>
</html>